<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.glib.core">

  <application
      android:allowBackup="true"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity android:name="com.glib.core.ui.json.actions.windows.JsonUiScreen" />

    <!--
    <activity
        android:name=".notification.Alert"
        android:theme="@style/FakeDialogNoTitleBar" />

        -->
    <activity
        android:name="com.glib.core.dialog.GRestDialogProgress"
        android:theme="@style/FakeDialogNoTitleBar" />
  </application>

</manifest>
